* {
    box-sizing: border-box;
}

body {
    font-family: 'Jersey 25';
    margin: 0px;
    padding: 0pxs;
    color: #fff;
    background-color: #061229;
}
.container .navbar-container {
    width: 100%;
    height: 100px;
    font-size: 16px;
    font-weight: 800;

}
.container .navbar-container a.navbar-brand i {
    font-size: 32px;
}
.container .navbar-container a.navbar-brand{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid rgb(20, 89, 89) !important;
    text-align: center;
}

.container .navbar-container a.navbar-brand:hover {
    border: 1px solid #03314A;
}

.container .navbar-container .collapse .contact a {
    border: 1px solid #03314A;
    padding: 10px 15px;
}
.container .navbar-container .collapse .navbar-nav{
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container a, .container .navbar-toggler {
    color: #fff;
    text-decoration: none;
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Add transition for smooth effect */
} 

.container a:hover, .container .navbar-toggler:hover {
    color: #03314A;
    box-shadow: 5px 5px 10px rgba(247, 25, 25, 0.5); /* Add box-shadow on hover */
    transform: translateY(-3px) translateX(-3px); /* Move the button 3px up */
}

.container a:active, .navbar-toggler:active {
    color: rgb(20, 89, 89);
}

.container .active {
    color: rgb(20, 89, 89) !important;
}

.container .content-container {
    text-align: left;
    margin: 60px 100px 100px 100px;
    color: #8A8E8E;
}
.container .content-container .lead {
    font-size: 16px;
}

.container .content-container .banner .banner-text .lead {
    margin-top: 25px;
    width: 65%;
}

.container .content-container .banner-text h1 {
    color: #fff;
}
.container .content-container .banner-text h1 span {
    font-family: 'Jersey25','Cursive', sans-serif !important;
    color: rgb(20, 89, 89);
    text-transform: uppercase !important;
}

.container .content-container .banner-text .intro {
    color: #8A8E8E;
}
.container .content-container .banner-text .more-info a {
    border: 1px solid #03314A;
    padding: 10px 15px;
}

.container .content-container .about {
    margin-top: 100px;
}

.container .content-container .about .about-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 50px;
}

.container .content-container .about .about-content .photo img {
    border: 1px solid #03314A;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(20, 89, 89) !important;
}
.container .content-container .about .about-content .photo img:hover {
    box-shadow: 5px 5px 10px rgba(247, 25, 25, 0.5) !important;
    transform: translateY(-3px) translateX(-3px); /* Move the button 3px up */
    transition: filter .25s linear, transform .25s linear, box-shadow .25s linear;
}

.container .content-container h2.heading {
    margin-bottom: 40px;
    color: #fff;
}
.container .content-container .experiences {
    margin-top: 100px;
}
.container .content-container .projects {
    margin-top: 100px;
}

@media screen and (max-width: 768px) {
    .container .navbar-container {
        flex-direction: row-reverse;
        align-items: center;
        height: auto;
        margin-top: 10px;
    }

    .container .navbar-container .collapse .navbar-nav {
        align-items: flex-start;
        /* padding: 10px; */
    }
    .container .content-container {
        margin: 0px;
        margin-top: 25px;
        text-align: center;
    }

    .container .content-container .lead {
        width: 100% !important;
        text-align: justify;
        padding: 20px;
    }

    .container .content-container .about .about-content {
        flex-direction: column-reverse;
    }

    .container .content-container .about .about-content .photo img {
        width: 100%;
        height: auto;
    }
}